@import url('https://fonts.googleapis.com/css?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300&display=swap');
@import 'config';
@import 'utility';

.items {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 1.5rem;
}

.item {
    position: relative;
    background: $overlay-color;
    overflow: hidden;
    box-shadow: 0 5px 10px rgba(0,0,0, 0.3);
    &:after {
        content: '';
        position: absolute;
        display: block;
        background: inherit;
        opacity: 0.9;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        transform: scale(2) translateX(-75%) translateY(-75%) rotate(-28deg);
        transition: transform 3s cubic-bezier(0.2, 1, 0.3, 1);
    }

    &:hover::after {
        transform: scale(2) translateX(0) translateY(0) rotate(-28deg);
    }

    &:hover &-image {
        transform: scale(1.2);
    }

    &:hover &-text {
        opacity: 1;
        transform: translateY(0);
    }

    &-image {
        height: auto;
        transform: translateZ(0);
        display: block;
        transition: transform 750ms cubic-bezier(0.2, 1, 0.3, 1);
    }

    &-image:before {
        content: '';
        display: block;
        padding-top: 75%;
        overflow: hidden;
    }

    &-image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        line-height: 0;
    }

    &-text {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        opacity: 0;
        text-align: center;
        z-index: 1;
        color: #fff;
        transform: translateY(-20%);
        transition: opacity 500ms cubic-bezier(0.2, 1, 0.3, 1),
            transform 500ms cubic-bezier(0.2, 1, 0.3, 1);
        transition-delay: 300ms;
    }

    &-text-wrap {
        position: absolute;
        width: 100%;
        top: 50%;
        transform: translateY(-50%);
    }

    &-text-title {
        font-size: 3rem;
        padding: 0 1rem;
        margin-top: 50px;
    }

    &-text-category {
        text-transform: uppercase;
        font-size: 1.7rem;
        opacity: 0.8;
        margin: 0;
    }
}

